{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{% block page_title %}
	<title>Sistema contable</title>
	{% endblock page_title %}
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="{% static "components/bootstrap/dist/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "components/font-awesome/css/font-awesome.min.css" %}">
	<link rel="stylesheet" href="{% static "css/AdminLTE.min.css" %}">
	<link rel="stylesheet" href="{% static "css/skins/skin-blue-light.min.css" %}">
</head>
{% block body %}
<body class="hold-transition skin-blue-light sidebar-collapse sidebar-mini">
	{% block content %}

	{% endblock content %}
</body>
{% endblock body %}

<script src="{% static "components/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "js/adminlte.min.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>
{% block extra_js %}
<script>
window.onload= function () { window.print();window.close();   } 
</script>
{% endblock extra_js %}
</html>