{% extends "base/base.html" %}
{% load widget_tweaks %}

{% block content_header %}
<h1>Chequera</h1>
{% endblock content_header %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title">Información de la chequera</h3>
				</div>
				<div class="box-body table-responsive">
					<form action="{{ action }}" method="post">
						{% csrf_token %}
						<table class="table">
							{% for field in form %}
							<tr>
								<th>{{ field.label_tag }}</th>
								<td>{{ field|add_class:"form-control" }}</td>
							</tr>
							{% endfor %}
							<tr>
								<td colspan="2">
									<input type="submit" class="btn btn-primary" value="Guardar">
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}