{% extends "base/base.html" %}

{% block page_title %}
<title>Detalle de cuenta {{ cuentabanco }}</title>
{% endblock page_title %}

{% block content_header %}
<h1>Cuenta {{ cuentabanco.numero }}</h1>
{% endblock content_header %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Información general</h3>
				</div>
				<div class="box-body no-padding">
					<table class="table table-hover">
						<tr>
							<th>Banco</th>
							<td>
								<a href="{{ cuentabanco.banco.get_absolute_url }}">
									{{ cuentabanco.banco }}
								</a>
							</td>
						</tr>
						<tr>
							<th>Número de cuentna</th>
							<td>
								{{ cuentabanco.numero }}
							</td>
						</tr>
						<tr>
							<th>Tipo de cuenta</th>
							<td>{{ cuentabanco.tipo }}</td>
						</tr>
						<tr>
							<th>Titular</th>
							<td>{{ cuentabanco.titular }}</td>
						</tr>
						<tr>
							<th>Saldo disponible</th>
							<td>Q. {{ cuentabanco.saldo }}</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Chequeras</h3>
					<span class="box-tools pull-right">
						<a href="{% url 'chequera_add' %}" class="btn btn-info">Nueva</a>
					</span>
				</div>
				<div class="box-body">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Número</th>
								<th>Emitidos</th>
								<th>Disponibles</th>
							</tr>
						</thead>
						<tbody>
							{% for chequera in cuentabanco.chequeras.all %}
							<tr>
								<td>
									<a href="{{ chequera.get_absolute_url }}" class="btn btn-block">
										{{ chequera.numero }}
									</a>
								</td>
								<td>{{ chequera.cheques.count }}</td>
								<td>{{ chequera.cheques_disponibles }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Estado de cuenta</h3>
				</div>
				<div class="box-body no-padding table-responsive">
					<table class="table table-hover table-striped">
						<thead>
							<tr>
								<th>Fecha</th>
								<th>Débito</th>
								<th>Crédito</th>
							</tr>
						</thead>
						<tbody>
							{% for accion in cuentabanco.estado|dictsort:"fecha" %}
							<tr>
								<td>{{ accion.fecha }}</td>
								{% if accion.tipo == 1 %}
								<td>Q. {{ accion.monto }}</td>
								<td></td>
								{% else %}
								<td></td>
								<td>
									Q. {{ accion.monto }}
								</td>
								{% endif %}
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}